#root {
  height: 93.4vh;
  padding: 2rem;
  text-align: center;
}

#App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#header {
  width: 100%;
}

#launch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  max-width: 80%;
  gap: 4em;
}

#timer-card {
  height: 11em;
  border-radius: 30px;
  background: linear-gradient(99.57deg, #e6b8d9 1%, #c9b8e6 100.1%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  gap: 5em;
}

.flex-row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.header-logo {
  gap: 0.5rem;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

#desc {
  max-width: 60%;
  margin: auto;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 64px;
  color: #0f0f0f;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: #333333;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 4px;
}

p {
  font-size: 18px;
  color: #1a1a1a;
}

.font-medium {
  font-weight: 500;
}
.font-regular {
  font-weight: 400;
}

.logo {
  height: 70px;
}

#input-mail {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: transparent;
  border-radius: 8px;
  color: #4d4d4d;
  height: 2.6em;
  border: 1px black solid;
  padding-left: 1em;
  width: 50%;
}

#notify-button {
  font-family: "Poppins", sans-serif;
  height: 2.3em;
  width: 8em;
  border-radius: 8px;
  border: 0px;
  font-size: 20px;
  background-color: #0f0f0f;
  color: #ffffff80;
  padding-left: 1em;
  padding-right: 1em;
}

#title {
  background: linear-gradient(90.04deg, #0f0f0f 0.11%, #333333 98.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gap-1 {
  gap: 1em;
}

.w-80 {
  width: 80%;
}

.blob {
  position: absolute;
  z-index: -1;
  filter: blur(200px);
}

#blob1 {
  right: -5em;
}

#blob2 {
  left: -5em;
}
