#root {
  height: 100vh;
  /* padding: 2rem; */
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#confetti {
  position: absolute;
  top: 0;
  left: 25%;
  z-index: -1;
  animation-name: play-once;
  animation-duration: 20s;
  animation-iteration-count: 1;
  height: 100vh;
  width: 50vw;
  content: url("/confetti.gif");
}

#header {
  position: absolute;
  top: 2em;
  width: 100%;
  padding-left: 4em;
  padding-bottom: 2em;
}

.dark {
  border-bottom: 1px grey solid;
}

.dark > a > p {
  color: white;
}

.dark > a > .bg-black {
  background-color: white;
  color: black;
}

#launch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 4em;
}

#livenow-modal {
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 4em;
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(99.57deg, #e6b8d9 1%, #c9b8e6 100.1%);
  gap: 4em;
  width: 60%;
  margin: auto;
}

#questions {
  display: flex;
  justify-content: end;
  align-items: end;
}

#timer-card {
  /* height: 11em; */
  border-radius: 30px;
  background: linear-gradient(99.57deg, #e6b8d9 1%, #c9b8e6 100.1%);
  display: flex;
  align-items: center;
  padding: 3em;
  padding-bottom: 3em;
  padding-top: 2em;
  gap: 5em;
}

#timer-card > div {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.font-medium {
  font-weight: 500;
}
.font-regular {
  font-weight: 400;
}
.font-semibold {
  font-weight: 600;
}

#input-mail {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: transparent;
  border-radius: 4px;
  color: #4d4d4d;
  height: 2.6em;
  border: 2px #4d4d4d solid;
  padding-left: 1em;
  width: 50%;
}

#notify-button {
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 0px;
  font-size: 30px;
  background-color: #0f0f0f;
  color: #ffffff;
  margin: 0;
  padding-inline: 1em;
}

#getstarted-button {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  width: 8em;
  border-radius: 8px;
  border: 0px;
  font-size: 30px;
  background-color: #0f0f0f;
  color: #ffffff;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

#livenow-text {
  float: left;
  clear: left;
}

.gap-1 {
  gap: 1em;
}

.mb-1 {
  padding-bottom: 1em;
}

.w-80 {
  width: 80%;
}

.blob {
  position: absolute;
  z-index: -1;
  filter: blur(150px);
  margin: 0;
  padding: 0;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#blob1 {
  content: url("/ldblob1.svg");
  animation-name: blob1-anim;
  right: -10em;
  bottom: -10em;
}

#blob2 {
  left: -2em;
  top: -2em;
  content: url("/ldblob2.svg");
  animation-name: blob2-anim;
}

#livenow-desc {
  padding-left: 2.5em;
  padding-right: 2.5em;
  margin: auto;
}

#questions {
  height: 100%;
  width: 100%;
  background: #0f0f0f;
}

#arrow-to-top {
  height: 4em;
  margin: 2em;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 64px;
  color: #0f0f0f;
  margin: 0;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: #333333;
  margin: 0;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 4px;
  margin: 0;
}

p {
  font-size: 18px;
  color: #1a1a1a;
  margin: 0;
}

.header-logo {
  gap: 0.5rem;
  text-decoration: none;
}

.header-logo > p {
  font-size: 21px;
}

.logo {
  height: 70px;
}

#title {
  background: linear-gradient(90.04deg, #0f0f0f 0.11%, #333333 98.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

#desc {
  max-width: 60%;
  margin: auto;
}

#notify {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#tick {
  content: url("/tick-light.svg");
  height: 1em;
  margin-top: 0.3em;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 13px;
  }

  h2 {
    font-size: 18px;
    letter-spacing: 3px;
  }

  p {
    font-size: 11px;
  }

  .header-logo > p {
    font-size: 12px;
  }
  .header-logo {
    gap: 0.25em;
  }

  .logo {
    height: 28px;
  }
  #title {
    display: inline;
  }
  #title > img {
    margin-left: 8px;
  }
  #root {
    justify-content: start;
    padding: 0;
    overflow: hidden;
  }

  #header {
    position: relative;
    top: 0;
    margin: 0;
    padding: 1em;
    padding-left: 3em;
  }

  .dark {
    background: #2a2a2a;
  }
  .light {
    background: white;
  }

  #launch {
    gap: 3em;
    padding: 0em;
    padding-top: 2em;
  }

  #desc {
    max-width: 80%;
  }
  #desc > span {
    display: none;
  }

  #timer-card {
    gap: 1em;
    padding: 1em;
    padding-inline: 2em;
    border-radius: 20px;
  }

  #timer-card > div > h1 {
    font-size: 36px;
  }
  #timer-card > div > h3 {
    font-size: 14px;
  }

  #notify {
    flex-direction: column;
    gap: 0.5em;
  }
  #input-mail {
    width: 103%;
    margin: 0;
  }

  #notify-button {
    width: 110%;
    margin: 0;
    font-size: 20px;
    font-weight: 5px;
    padding-top: 5px;
    padding-bottom: 6px;
  }

  .blob {
    filter: blur(100px);
  }

  #blob1 {
    right: -2em;
    bottom: -5em;
    content: url("/mblob1.svg");
  }

  #blob2 {
    left: 0em;
    top: 0em;
    content: url("/mblob2.svg");
  }

  #livenow-modal {
    min-width: 80%;
    padding: 1em;
    padding-bottom: 2em;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(99.57deg, #e6b8d9 1%, #c9b8e6 100.1%);
    gap: 3em;
  }

  #getstarted-button {
    font-size: 18px;
  }

  #livenow-desc {
    padding: 0;
    padding-top: 1em;
  }
  #arrow-to-top {
    display: none;
  }

  #confetti {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    content: url("/confetti.gif");
  }
}
